* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* text-align: center; */
}
.flex {
    display: flex;
}
.main-nav {
    background-image:linear-gradient(to left, #020204, #1d1b43, #165bd0);
    padding: 10px;
    justify-content: space-between;
}
.logo img {
    margin-left: 40px;
    height: 60px;
    width: 350px;
}
.nav-links {
    margin-top: 12px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 25px;
}
sup {
    
    font-size: 10px;
    background-color: #ea4235;
    border-radius: 8px;
    padding: 3px;
    
}
button {
    margin-right: 80px;
    color: white;
    padding: 12px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #ea4235;
}
.nav-links a:hover {
    color: #f7ca38;
}